<!DOCTYPE html>
{% extends "layout.html" %}
{% block body_content %}
    <div class="form">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                #bhahaha
            </div>
        </form>
    </div>
    <div class="results">
        {% for item in results %}
            <div>
                <h3>{{ item.name }}</h3>
            <span><i>with {{ item.item1 }}, {{ item.item2 }}, {{ item.item3 }}</i></span>
            <span><i>{{ item.item4 }}, {{ item.item5 }} {{ item.item6 }} {{ item.item7 }}</i></span>
            </div>    
        {% endfor %}
    </div>
    
{% endblock body_content %}