<!DOCTYPE html>
{% extends "layout.html" %}
{% block body_content %}
    <div class="form">
        <form method="POST" action="">
            {{ recipeform.hidden_tag() }}
            <div class="form-group">
                {{ searchform.recipe_name.label }}
                {% if searchform.recipe_name.errors %}
                    {{ searchform.recipe_name }}
                    <div class="error">
                        {% for error in searchform.recipe_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ searchform.recipe_name }}
                {% endif %}
            </div>
            <br>
            <div class="form-group">
                {{ recipeform.submit }}
            </div>
        </form>
    </div>

{% endblock body_content %}